*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
	background-color: orange;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

#divNuevo{
    padding: 25px 0;
}

.btnNuevo{
    background-color: cyan;
    color: orange;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

main{
    background-color: white;
    height: 100%;
    padding-bottom: 30px;
}

form{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

fieldset{
    padding: 20px;
    font-weight: 900;
}

label, input, textarea{
    display: block;
    width: 100%;
}

label{
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 10px;
}

input[type=text], input[type=number], input[type=file]{
    height: 30px;
    margin-bottom: 2px;
}

input[type=submit]{
    background-color: black;
    color: white;
    border: 1px solid yellow;
    font-size: 20px;
    margin: 20px auto;
    width: 50%;
    height: 30px;
}

input[type=submit]:hover{
    background-color: orange;
    border: 1px solid cyan;
}

.form-field.error input, .form-field.error textarea{
    border: 1px solid red; 
}

.form-field.success input, .form-field.success textarea{
    border: 1px solid orange; 
}

.form-field small {
    color: red;
}

.form-field input:focus, .form-field textarea:focus {
    outline: none;
}

@media screen and (max-width: 768px){
    input[type=submit]{
        width: 100%;
    }
}
