*{
	color: white;
}

body{
	background-image: url("../img/montana.jpg");
}

div{
	text-align: center;
}

header{
	padding: 10px;
    display: flex;
}

header .header_logo{
    width: 30%;
    height: 130%;
}

header .header_logo img{
    width: 150px;
}

.formu{
	color: black;
}